.daily-weather-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
}

.list-item {
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

