.input{
    background-color:rgb(136, 49, 124);
    display: flex;
    gap: 30px;
    padding: 20px;
justify-content: center;
border-radius: 40px;

}
#search{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
}
button{
    width: 200px;
    background-color: chartreuse;
    border-radius: 30px;
}